* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #424242;
  background: #f5f5f5;
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 52em;
}

.stockBox {
  margin: 5em 0;
  padding: 1em;
  background: #fff;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.20);
}

.stockForm {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.stockForm input[type=text] {
  color: #424242;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  font-size: 1.5em;
  padding: 0.5em 0.25em;
  outline: none;
}

.stockForm input[type=submit] {
  color: #424242;
  cursor: pointer;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  font-size: 1.25em;
  padding: 0.5em 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  outline: none;
}

#header {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  align-self: stretch;
  -webkit-align-self: stretch;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  text-align: center;
}

#graph {
  margin: 2em;
  padding: 2em;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

#stock-text {
  margin: 2em;
  padding: 1em;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
